include mixins

.pages
	.container
		.header
			h1 李明宇
			.subtitle 求职意向: Rust开发工程师

		.items
			h2 #[i.fa.fa-graduation-cap] 教育背景

			+item("江南大学 - 电子信息工程", null, null, "2009-07", "2013-06")
				:markdown-it
					- 电路理论、电子技术基础、高频电路、模拟电路、信号与线性系统、数字信号处理、`DSP`原理与应用、传感器原理与应用;
					- 计算机科学与技术、微机原理与接口技术、51单片机、通信原理、电磁场与电磁波;
					- `C`程序设计、`MATLAB`程序设计;

		.items
			h2 #[i.fa.fa-hashtag] 工作经验

			+item("华中云联信息科技有限公司 - PHP开发工程师", null, "湖北武汉", "2013-03", "2016-08")
				:markdown-it
					- 华中云联物流致力于打通传统物流行业信息流通壁垒,通过`互联网+`模式解决信息共享、在线交易及三方信任问题,实现长途货运司机和货源厂家需求智能匹配和线上交易、零担物流合作专线推广、订单签约及订单在线跟踪管理功能,降低物流成本,提高配货效率;作为技术核心层,主要负责物流系统解决方案设计和物流管理系统功能开发,深度参与并协调技术团队按计划完成物流平台开发任务;
					- __物流后端服务__: 物流管理后台采用`PHP`高性能`C`语言扩展框架`Phalcon`开发,功能采用模块化设计,主要分为权限系统、用户系统、财务系统、货车轨迹跟踪、货源信息共享、订单管理及支付模块,后端使用`Mysql`、`MongoDB`等数据库存储业务及货车位置信息,数据模型统一使用`Redis`一级缓存减少数据库压力,图片和文件资源使用七牛云存储,网页静态资源使用七牛云`CDN`镜像源加速服务;
					- __`Mysql`缓存插件开发__: 使用`C++`开发`Mysql`缓存插件库`mysql2redis`,实现`Mysql`数据增、删、改时主动触发同步更新`Redis`缓存数据,保证关键业务缓存数据的实时同步,避免缓存脏数据;
					- __`GPS`协议编解码服务__: 使用`Java`的高性能网络框架`Mina`开发货车`GPS`定位终端数据处理服务,实时处理车辆位置、速度、方向、地理围栏等信息并下发后台操作指令,实现车辆跟踪监控告警等功能;
					- __`Android`客户端__: 协助开发`Android`物流信息共享软件,主要功能包括货车司机在线位置信息共享、`GPS`定位、货源信息匹配、在线下单及担保交易等物流在线配货业务;

			+item("武汉星联智讯科技有限公司 - PHP后台开发", null, "湖北武汉", "2016-09", "2017-10")
				:markdown-it
					- 负责湖南省公益联合掌上互助平台益联商城的后台业务功能设计及接口开发,带领团队完成`IOS`和`Android`客户端开发任务;功能主要包括公益捐助、义店商品、积分商城、优惠券配置、订单优惠预算、下单优惠抵扣、余额充值提现及各支付渠道(银联、微信、支付宝扫码跳转等)接口开发,借助`Swoole`+`Redis`异步消息队列解决高并发下特卖商品秒杀库存超发问题,保障运营风控系统;
					- __商城系统管理后台__: 开发商户、红十字会、运营、财务等用户的后台管理系统,主要功能包括用户实名认证审核、用户信息管理、商品管理、优惠券互斥规则管理、三级分销链图、财务数据统计、订单管理、物流发货、用户提现审批、订单结算及财务数据统计等功能;
					- __开发管理后台渲染框架__: 后端采用`Phalcon`框架,借鉴框架优秀的模块化设计思想,结合`DataTable.js`、`JQuery`、`jquery.autocomplete.js`、`flatpickr`等插件库独立开发一套后台管理系统前端渲染框架,通过配置文件动态渲染各项业务数据,支持展现、排序、搜索、筛选、分页等管理功能及数据增、删、改等常用操作,采用模块化设计极大的提高了后台业务功能的开发效率;

			+item("湖北云景智联科技有限公司 - 开发运维工程师", null, "武汉光谷", "2017-10", "2019-12")
				:markdown-it
					- __景区入园验证服务__: 独立负责云景景区人脸入园验证服务的开发和维护工作,通过`NodeJs`实现`jwt Token`安全校验、二维码加解密、身份证识别、人脸比对验证、预约检测、`AES/RSA`加解密、离线入园、数据上报、日志监控、邮件告警、数据统计上报、自动化测试等业务功能的设计与开发,保障合作景区入园系统稳定可靠;
					- __`Android`入园设备开发__: 负责景区入园验证设备客户端的开发,集成身份证识别接口、`Zbar`二维码识别、`TTS`语音播报、入园数据统计计数等功能,使用`Realm`数据库实现离线验证数据存储及数据迁移,使用`EventBus`事件总线串起包括`[`刷卡/扫码`->`拍照人脸识别`->`数据加解密`->`在线/离线校验`->`本地离线数据存储`]`完整的入园验证流程生命周期.在网络不稳定的场景自动切换到离线模式,通过加解密实现二维码离线校验入园,保证景区入园系统稳定流畅;
					- __云景商城开发__: 负责合作景区的线路、二消门票、酒店商城业务重构,主要包括商品展现、下单购买、订单线下核销、优惠券抵扣、违约退款、微信消息推送、订单结算分润及全民分销功能,支持多区域下供应商、代理商、分销商的商品审核、分销及推广奖励规则管理;通过`Workman`和`Thrift`实现`RPC`微服务调用,通过`RabbitMQ`实现异步消息队列及错误重试,提高线上系统的健壮性;
					- __`k8s`微服务部署__: 调研`Kubernetes`微服务落地方案,使用`kubeadm`搭建测试集群,管理`Nginx`、`PHP`、`Mysql`、`Redis`、`RabbitMQ`等微服务,使用`Istio`服务网格处理集群内部通信,支持服务发现、`A/B`测试、流量复制、速率限制等功能;使用`Traefix`作为后端服务`HTTP`反向代理和负载均衡;
					- __`Rust`开发运维工具`run_s`__: 通过`clap`提供命令行参数,支持各云平台的日常管理功能,可通过配置文件自动更新`DNSPOD`解析记录;根据域名配置自动签发`Let's Encrypt`SAN域名证书;支持自动上传更新七牛云`CDN`域名及`SSL`证书;管理腾讯云服务器,支持动态创建、重装系统和销毁云服务器实例资源,提高日常运维效率;
					

	.sidebar
		div.header
			img(src="./assets/coam.png")
		.contact.side-block
			h1 个人简介
			ul
				li 姓名: 李明宇
				li 性别: 男
				li 民族: 汉
				li 身高: 172cm
				li 出生年月: 1989年3月
				li 籍贯: 湖北黄石
				li 毕业院校: 江南大学
				li 专业: 电子信息工程
				li 学历: 自考本科/学士
				li 政治面貌: 团员
				li 工作年限: 7年

			h1 开发技能
			ul
				li Rust 服务开发
				li PHP 后台开发
				li Android 开发
				li Kubernetes 系统运维
				li Istio 服务网格

			h1 技能证书
			ul
				li CET-4
				li 软考网络工程师

		.skills.side-block
			h1 联系方式
			ul
				li #[i.fa.fa-globe] www.ixrii.com
				li #[i.fa.fa-github] github.com/lmymix
				li #[i.fa.fa-envelope] lmy@ixrii.com
				li #[i.fa.fa-weixin] loamlo
				li #[i.fa.fa-phone] (+86)13970605081
				li #[i.fa.fa-location-arrow] 湖北省武汉市武昌区

		//- This points to mnjul's original resume project
		.disclaimer.side-block
			p 感谢您花时间阅读我的简历,
			p 期待能有机会与您共事.

.pages
	.container
		.items
			+item("广州云杉智能科技有限公司 - Rust开发工程师", null, "广州", "2019-12", "2020-5")
				:markdown-it
					- __`知聊吧`智能医疗助手__: `知聊吧`是一款智能语音机器人,用户可通过手机客户端询问眼科疾病相关知识及治疗方案,后端基于`TensorFlow`的`Bert`预训练自然语言模型,使用人工标记语言数据训练医疗知识图谱,提高预测精度;后端采用`Laravel`框架开发包括人工关键词标注、问答管理、问卷调查及标记数据模型训练任务流水线等后台管理功能,采用前后端分离模式使用`Electron`和`Angular`框架开发后台管理界面;
					- __`CMMT`区块链项目__: 基于`POC`容量证明共识算法`Scavenger`开发`Miner`的数据统计上报,支持配置动态更新、`Plot`盘容量统计、矿机系统硬件性能统计上报、矿池挖矿钱包地址参数变更及自动更新服务,通过此项目了解区块链共识算法的基本原理和矿池挖矿生态;
					- __`Rust`证书开源项目`acme-client`协议升级__: 基于`acme-client`库开发支持新的`ACME-v2`协议,支持签发`Let's Encrypt`泛域名证书,使用域名`DNS-TXT`挑战签名实现自动验签和签发证书,解决通过`ACME-v1`签发的`单域名`/`SAN`证书固定域名限制;

			+item("武汉久联电子商务有限公司 - 后台开发工程师", null, "武汉", "2020-05", "2020-08")
				:markdown-it
					- __久云小铺项目__: 基于`ThinkPHP`框架开发的支付宝小程序`ISV`服务商管理后台,主要负责优化支付宝小程序启动速度,发布版本支持自定义小程序界面样式和底部导航菜单功能,调研并优化支付宝小程序图片懒加载处理方案,后台使用`CropperJS`插件支持图片上传剪裁编辑及自动压缩功能;
					- __久云餐饮项目__: 基于`ThinkPHP`框架开发商家管理后台,主要负责营销模块的开发,包括优惠规则配置,优惠指定店铺、商品及商品分类,优惠券及优惠活动叠加配置等后台管理功能,开发订单优惠预算、下单核算、优惠券展示、领券及券核销列表前端接口;
					- __宏云合作项目__: 开发畅惠行一站式吃、住、行及购物电商平台,主要负责营销模块的开发,包括优惠规则配置管理、优惠叠加配置、优惠指定门店、优惠指定商品及优惠指定商品分类等后台管理功能;使用`Swagger`配置`YApi`接口文档,定义接口参数及响应数据格式,方便前后端开发联调;

		.items.concise
			h2 #[i.fa.fa-eercast] 校园经历

			+item("校车共享项目", "KAB创业大赛", null, "2011-03", "2012-06")
				:markdown-it
					- 大学期间提出校车共享创业计划,提出类滴滴打车的私家车加盟在线共享出租模式,主要负责商业计划书的撰写、市场调研及业务合作相关方面的工作,得到学校领导的肯定和支持.并带领自己的团队参加江南大学`KAB`创业协会举办的“创业大赛”并获得决赛优胜奖.

			+item("BP神经网络风能新能源发电量预测", "毕业论文", null, "2013-03", "2013-06")
				:markdown-it
					- 通过分析历年日照强度、日照时长、温度、空气湿度等数据作为输入向量,以其对应的光伏年发电量作为输出向量,得到训练样本;通过`MATLAB`利用样本数据编写程序训练`BP神经网络`模型;选取下一年预测的环境数据输入`BP神经网络`,预测未来一年的光伏发电量,训练好的模型表现出很高的准确率,对能源调度利用等实际应用领域有很高的参考价值.

			+item("学校生活")
				.concise
					:markdown-it
						对计算机科目比较感兴趣,大学期间课余时间参加学习计算机专业的以下课程:
						- 数据结构(C)
						- `Java`开发
						- `SQL`数据库

		.abstract
			:markdown-it(html=true)
				### 技能清单
				* 开发语言: `Rust`/`PHP`/`Android`/`NodeJS`
				* 开发框架: `Phalcon`/`Laravel`/`Swoole`/`Angular`
				* 运维开发: `Kubernetes`/`Docker`/`Istio`/`Traefik`/`Ansible`/`Nginx`/`RabbitMQ`/`ELK`
				* 数据库相关: `Mysql`/`Redis`/`MongoDB`
				* 云开放平台: 阿里云/腾讯云/美团云/七牛云/`Coding`

				有丰富的`Web`后台服务功能设计及接口开发经验,熟悉`Lnmp`及`K8s`架构设计,有一定的运维开发经验;对`Java`、`Go`、`Erlang`等语言也有一定了解,对`IM Ejabberd`消息服务器、`Emqttd`消息推送方案、区块链应用技术比较感兴趣;喜欢钻研和挑战,自学能力强,有一定的团队管理经验,期待未来加入更大的舞台.

	.sidebar
		//- This points to mnjul's original resume project
		.disclaimer.side-block
			p 感谢您花时间阅读我的简历,
			p 期待能有机会与您共事.

style
	include resume.scss
